<h2 style="margin-bottom: 10px">Your Forecast Areas</h2>
<h5 style="text-align:center; margin-bottom: 25px;">For the beta version, you are allowed to only create one forecast area</h5>

<table class="table table-bordered table-striped">
	<tr>
		<td>Zipcode</td>
		<td>Phone Number</td>
		<td>Text Time (Time Zone)</td>
		<td>Edit</td>
		<td>Delete</td>
	</tr>
<% if @forecast_area %>
	<tr>
		<td><strong><%= @forecast_area.zipcode %></strong></td>
		<td><strong><%= @forecast_area.phone_number %></strong></td>
		<td><strong><%= @forecast_area.time.to_formatted_s(:time) %><%= " (#{@forecast_area.forecast_time_zone})" %></strong> </td>
		<td><%= link_to "Edit", edit_forecast_area_path(@forecast_area), :class => "btn btn-info" %></td>
		<td><%= link_to "Delete", forecast_area_path(@forecast_area), :confirm => "Are you sure?", :method => 'delete', :class => "btn btn-danger" %></td>
	</tr>

	<% end %>
</table>
<% if @forecast_area.nil? %>
<%= link_to "Add a Forecast Area", new_forecast_area_path, :class => "btn btn-primary btn-large" %>
<% end %>
